<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>org.openmrs.module.cflcharts</package>
    <author>Connect for Life</author>
    <description>
        ${project.parent.description}
    </description>

    <activator>org.openmrs.module.cflcharts.ReportchartsActivator</activator>

    <require_version>${openmrsPlatformVersion}</require_version>

    <require_modules>
        <require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
        <require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
        <require_module version="${reportingrestVersion}">org.openmrs.module.reportingrest</require_module>
    </require_modules>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
        <aware_of_module version="${metadatasharingVersion}">org.openmrs.module.metadatasharing</aware_of_module>
    </aware_of_modules>

    <extension>
        <point>org.openmrs.admin.list</point>
        <class>org.openmrs.module.cflcharts.extension.html.AdminList</class>
    </extension>

    <privilege>
        <name>View Charts</name>
        <description>Able to see charts page</description>
    </privilege>
    <privilege>
        <name>Configure Charts</name>
        <description>Able to configure charts</description>
    </privilege>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>

</module>

